%div.well.well-large
  - @lookups.each do |lookup|
    %span.lookup_span= link_to escape_javascript(lookup.domain), lookup
    
%legend Help us improve by adding more lookups

= link_to 'Create Lookup', new_lookup_path