%footer.footer
  .container
    = link_to 'Improve our Parser', lookups_path
    \|
    = link_to 'Report Issues', 'https://github.com/dahotre/Jobmarking/issues/new'
    \|
    = link_to 'http://www.mongodb.org', target: '_blank' do
      %img.mongo_power{src: 'http://www.mongodb.org/static/images/powered_by/PoweredMongoDBgreen50.png'}
    \|
    %span.muted
      © 2013 Aniket Dahotre. All rights reserved.
